<div class="layout">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Create chat bot!</mat-card-title>
        </mat-card-header>
        <mat-card-content [attr.aria-disabled]="isLoading" class="content">
            <form [formGroup]="chatBotForm" class="form">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
                <div class="file-picker-button-wrapper">
                    <button mat-icon-button class="file-picker-button" (click)="fileInput.click()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <span>Choose files</span>
                </div>
                <input #fileInput hidden type="file" (change)="onFileSelect($event)" />
                <div formArrayName="files">
                    <div
                        class="file-control-wrapper"
                        *ngFor="let control of getFilesControls(); let i = index;" [formGroupName]="i">
                        <div class="file-details">
                            <span>{{ control.value.file.name }}</span>
                            <button mat-icon-button (click)="onFileRemove(control.value.file)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>File description</mat-label>
                            <textarea matInput type="textarea" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>  
                </div>
            </form>
            
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button color="primary"
                [disabled]="chatBotForm.invalid "
                (click)="createChatBot()">
                Create Chat Bot
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>
