<div class="layout">
    <mat-card class="login-form-wrapper">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <mat-card-actions>
                <p>Don't have an account? <a routerLink="/register">Register</a></p>
            </mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </mat-card>
</div>