
.nav {
    height: 100%;
    width: 100%;
    padding-block: 16px;
    overflow: hidden;

    .nav-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: 100%;
        
        .nav-row-content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .chat-bot-description {
                font-size: 14px;
            }
        }

        .icon-button {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
            }
        }

        .exit-button-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .profile-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;

            .profile-info {
                display: flex;
                flex-direction: column;
                align-items: start;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}