.layout {
    .chat-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        gap: 10px;
    }

    .first-bot-creationg-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .first-bot {
            width: 100%;
        }
    }
}