
.layout {
    align-items: start;
}

.content {
    margin-top: 12px;
}

.form {
    display: flex;
    flex-direction: column;

    .file-picker-button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .file-control-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .file-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-inline: 12px;

            button {
                color: red;
            }
        }
    }
}

.card {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
}